<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="org.frd49.cordova.exitapp" version="1.0.0">
   <name>ExitApp</name>
   <description>Implements navigator.app.exitApp on iOS </description>
   <license>Apache 2.0</license>
   <keywords>exitApp, iOS, terminate, exit, kill</keywords>
   <platform name="ios">
      <js-module src="www/exitApp.js" name="CDVExitApp">
         <clobbers target="navigator.app" />
      </js-module>
      <config-file target="config.xml" parent="/*">
         <feature name="CDVExitApp">
            <param name="ios-package" value="CDVExitApp" />
         </feature>
      </config-file>
      <header-file src="src/ios/CDVExitApp.h" />
      <source-file src="src/ios/CDVExitApp.m" />
   </platform>
</plugin>
